/* -------- Global styles ---------- */

label {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 3rem; }

textarea {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
    width: 99%;
    min-height: 8.5rem;
    border: 2px solid #424242;
    border-radius: 5px;
    padding-left: 1%;
    background: none; 
    color: #EEEEEE; }

input {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
    width: 98%;
    height: 2.75rem;
    border: 2px solid #424242;
    border-radius: 5px;
    padding-left: 2%;
    background: none;
    color: #EEEEEE; }

/* ----------- Form ----------- */

.contact {
    width: 100%;
    height: auto;
    margin-top: 11rem;
    margin-top: 11rem; }

.contact__box {
    margin-left: 12.5%;
    margin-right: 12.5%;
    width: auto;
    height: auto;
    display: grid;
    grid-template-columns: auto 300px; }

.contact__txtbox {
    width: 100%;
    height: auto; }

.contact__title{
    width: 100%;
    height: auto; }

.contact__title h1{
   margin-bottom: 3.5rem; }

.contact__title h4{
    margin-bottom: 3.5rem; }

.contact__form{
    min-width: 580px;
    width: 85%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(auto) ;
    column-gap: 1.5rem;
    row-gap: 2.25rem;
    grid-template-areas: 
    "name email" "textarea textarea"
    "launch budget" "hear hear" "btn btn"; }

.name {
    grid-area: name; }

.email {
    grid-area: email; }

.textarea {
    grid-area: textarea; }

.launch {
    grid-area: launch; }

.budget {
    grid-area: budget; }

.hear {
    grid-area: hear; }

.btn {
    grid-area: btn; }

/* Custom options ---- */

.custom-select {
    position: relative;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
    border: 2px solid #424242;
    border-radius: 5px;
    width: 100%;
    color: #EEEEEE; }

.custom-select select {
    display: none; }

.select-selected {
    background: none; }

.select-selected:after {
    position: absolute;
    content: "";
    top: 18px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent; }

.select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 7px; }

.select-items div,
.select-selected {
    color: #FEFBF3;
    padding: 0.5rem 0.5rem;
    border: 2px solid #424242;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;  }

.select-items {
    position: absolute;
    background-color: #424242;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99; }

.select-hide {
    display: none; }

.select-items div:hover,
.same-as-selected {
    background-color: rgba(0, 0, 0, 0.1); }    

/* Shapes ----- */

.shapes {
    width: 100%;
    height: auto;
    position: relative; }

.shapes__svgbox {
    position: relative; 
    height: 300px;
    width: 300px; }  

.shape__pink {
    fill:#FEFBF3;
    position: absolute;
    top: 0;
    right: 0; }

.shape__yellow {
    fill:#FEFBF3;
    position: absolute;
    top: 14%;
    right: 57%; }

.shape__orange {
    stroke:#FEFBF3;
    position: absolute;
    top: 60%;
    right: 14%; }

.shapes__us {
    width: 100%;
    height: auto; 
    position: absolute;
    bottom: 0;  }

/* SUBMIT -------- */

.submit__btn {
    grid-area: submit;
    width: min-content;
    color: #FEFBF3;
    background-color: #717CBE;
    font-family: 'Maine Medium Italic';
    font-style: normal;
    font-weight: normal;
    font-size: 1.2rem;
    line-height: 2rem;
    padding: 1rem 3rem 1rem 3rem;
    border: none;
    border-radius: 35px;
    vertical-align: middle;
    transition: .3s ease all;
    margin-top: 0.5rem;
}

.submit__btn:hover {
    transform: scale(1.1);
    box-shadow: 0 12px 16px 0 rgba(20, 20, 20, 0.137), 0 17px 15px 0 rgba(15, 15, 15, 0.103);
}





/* ----------- Instagram gallery ----------- */
.instagram__gallery {
    margin-top: 15%;
}

.instagram__gallery h4 {
    font-size: 2rem;
    margin: 10% auto 2rem 5%;
}

.instagram__gallery a {
    font-family: 'Maine Medium Italic';
    font-style: normal;
    font-weight: normal;
    font-size: 1.5rem;
    transition: .3s ease all;
    margin-left: 5%;

}

.instagram__gallery a:hover {
    color: #DE5D37;
}

.items2 {
    margin-top: 3%;
    scrollbar-width: none;
    position: relative;
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    transition: all 0.2s;
    transform: scale(0.98);
    will-change: transform;
    user-select: none;
    height: min-content;
}

.items2::-webkit-scrollbar {
    display: none;
}

/* for Chrome, Safari, and Opera */

.items2.active {
    cursor: -webkit-grabbing;
    transform: scale(1);
}

.item {
    display: inline-block;
    height: 4rem;
    margin: 0.5rem;
    object-fit: cover;
}

.gallery__card {
    height: 4rem;
}

.gallery__cardbox {
    display: flex;
    flex-direction: column;
}

/* ============================ LIGHT MODE ============================ */
body.light .form__container input[type=text] {
    border: 2px solid #202020;
    color: #000000;
}

body.light .textarea textareatxt {
    color:#000000; }

body.light .select-items div,
.select-selected {
    color:#FEFBF3;
}
body.light .select-items {
    background-color: #FEFBF3;
}