*{
    margin: 0;
    padding: 0; }

html{
    scroll-behavior: smooth;
    width: 100%; }
    
body{
    background-color: #202020;
    color: #EEEEEE;
    transition: .3s ease all;
    overflow-x: hidden;
}
a {
    color: #EEEEEE;
    text-decoration: none;
}

/* ------------  FONTS ------------------------------------------------------ */    

@font-face {
    font-family: 'Maine Light';
    src: url('../assets/Maine/Maine-Light.otf');
}

@font-face {
    font-family: 'Maine Regular';
    src: url('../assets/Maine/Maine-Regular.otf');
}

@font-face {
    font-family: 'Maine Bold';
    src: url('../assets/Maine/Maine-Bold.otf');
}

@font-face {
    font-family: 'Maine Bold Italic';
    src: url('../assets/Maine/Maine-BoldItalic.otf');
}

@font-face {
    font-family: 'Maine Medium Italic';
    src: url('../assets/Maine/Maine-MediumItalic.otf');
}

.fonXl{
    font-family: 'Maine Light';
    font-style: normal;
    font-weight: normal;
    font-size: 6.25rem;
    line-height: 7rem;
}

.fonH1{
    font-family: 'Maine Regular';
    font-style: normal;
    font-weight: normal;
    font-size: 6rem;
    line-height: 7.5rem;
}

.fonH2{
    font-family: 'Maine Regular';
    font-style: normal;
    font-weight: normal;
    font-size: 4.5rem;
    line-height: 6rem;
}

.fonH3{
    font-family: 'Maine Regular';
    font-style: normal;
    font-weight: normal;
    font-size: 3.25rem;
    line-height: 4.75rem;
}

.fonH4{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 2rem;
    line-height: 2.5rem;
}

.fonFoot{
    font-family: 'Maine Bold';
    font-style: normal;
    font-weight: normal;
    font-size: 2rem;
    line-height: 2rem;
}

.fonH5{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
}

.fonH6{
    font-family: 'Maine Light';
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 2rem;
 
    opacity: 0.4; }

.fonPg {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 2rem;
}

.fonPgSt {
    font-family: 'Maine Bold Italic';
    font-style: normal;
    font-weight: normal;
    font-size: 1.25rem;
    line-height: 2rem;
}

.fonLink {
    font-family: 'Maine Medium Italic';
    font-style: normal;
    font-weight: normal;
    font-size: 1.5rem;
    line-height: 1.5rem;
}

.fonSubFoot {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: 0.2rem;
}

/* ------------  BUTTONS ------------------------------------------------------ */    

button {
    font-family: 'Maine Medium Italic';
    font-style: normal;
    font-weight: normal;
    font-size: 1.5rem;
    line-height: 1.5rem;
    color: #EEEEEE; 
    background-color: #ED764A;
    border: none;
    cursor: pointer; }

li{
    list-style-type: none;
}

/* ------------  LINKS ----------------------------------------------------------- */    

.aLink{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 2rem;
    color: #EEEEEE;
    position: relative;
    white-space: nowrap;
    padding-bottom: 0.25rem;
    text-decoration: none;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease; }

.aLink::before,
.aLink::after {
    position: absolute;
    width: 100%;
    height: 1px;
    background: currentColor;
    top: 100%;
    left: 0;
    pointer-events: none; }

.aLink::before {
    content: '';
    /* show by default */ }

.aLink--under::before {
    transform-origin: 100% 50%;
    transform: scale3d(0, 2, 1);
    transition: transform 0.3s; }

.aLink--under:hover::before {
    transform-origin: 0% 50%;
    transform: scale3d(1, 2, 1); }

.active{
    font-weight: 600;
}    

/* ------------  NAV ----------------------------------------------------------- */    

.nav__box{
    width: 100%;
    height: 4rem;
    top: 0;
    position: fixed;
    display: flex;
    justify-content: space-between;
    background-color:  #202020;
    transition: .3s ease all;
    z-index: 10; }

.nav__logobox{
    width: auto;
    height: auto;
    left: 5%;
    top: 50%;
    transform: translateY(-50%);
    position: absolute; }

    .nav__logo{
        fill: #EEEEEE;  }

.nav__links{
    width: auto;
    height: auto;
    right: 10%;
    top: 50%;
    transform: translateY(-50%);
    position: absolute; }

    .nav__links a{
        margin-left: 2.5rem; }

.nav__command{
    width: auto;
    height: auto;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
    position: absolute; }

    .nav__darkSwitch{
        fill:  #EEEEEE; 
        cursor: pointer; }
    
/* ------------  FOOTER ----------------------------------------------------------- */    

.footer{
    width: auto;
    margin-left: 12.5%;
    margin-right: 12.5%;
    height: 45rem; }

.footer__box{
    width: 100%;
    height: 100%;
    position: relative; }

.footer__title1{
    display: inline-flex;
    width: auto;
    height: auto;
    position: absolute;
    top: 8.5rem; }

    .footer__svg1{
        width: 95px;
        height: 95px;
        margin-top: 1rem;
        margin-left: 1.5rem; }

.footer__title2{
    display: inline-flex;
    width: auto;
    height: auto;
    position: absolute;
    top: 15rem; }

    .footer__svg2{
        width: 150px;
        height: 70px;  
        margin: 2rem 1.5rem 0 1.5rem; }

        .footer__svg2 svg{
            stroke:  #EEEEEE; }

.footer__links{
    width: 55rem;
    height: auto;
    position: absolute;
    top: 28rem; }

    .footer__linkstit1{
        width: auto;
        height: auto;
        position: absolute;
        top: 0;
        left: 0; }

        .footer__linksbox1{
            width: 7rem;
            height: auto;
            position: absolute;
            top: 3rem;
            left: 0; }

        .footer__linksbox1a{
            width: 7rem;
            height: auto;
            position: absolute;
            top: 5rem;
            left: 9rem; }

    .footer__linkstit2{
        width: auto;
        height: auto;
        position: absolute;
        top: 0;
        left: 22rem; }

        .footer__linksbox2{
            width: 7rem;
            height: auto;
            position: absolute;
            bottom: 0;
            top: 3rem;
            left: 22rem; }

.footer__btnbox{   
    width: auto;
    height: auto;
    position: absolute;
    top: 10rem;
    right: 0; }

.footer__btn{   
    border-radius: 5.5rem;
    width: 10.5rem;
    height: 10.5rem;
    font-size: 1.75rem; }

.footer__copy{
    height: 5rem;
    width: 100%;
    background-color: #282828;
    align-items: center;
    display: flex; }

    .footer__copy h5{
        height: auto;
        width: auto;
        margin-left: 12.5%; }


/* ============================ LIGHT MODE ============================ */
body.light{
    background-color: #FEFBF3;
    color: #000000; }

body.light a{
    color: #000000; }

body.light .nav__darkSwitch{
    fill: #000000; }

body.light .nav__box{
    background-color: #FEFBF3; }

body.light .nav__logo{
    fill: #000000; }

body.light .footer__svg2 svg{
    stroke: #000000; }

/* ------------  @ MEDIA ----------------------------------------------------------- */    






@media (min-width: 768px) and (max-width: 1024px) {

    .fonXl{
        font-family: 'Maine Light';
        font-style: normal;
        font-weight: normal;
        font-size: 6.25rem;
        line-height: 7rem;
    }
    
    .fonH1{
        font-family: 'Maine Regular';
        font-style: normal;
        font-weight: normal;
        font-size: 6rem;
        line-height: 7.5rem;
    }
    
    .fonH2{ /* -----change-------- */   
        font-family: 'Maine Regular';
        font-style: normal;
        font-weight: normal;
        font-size: 4rem;
        line-height: 5rem;
    }
    
    .fonH3{  /* -----change-------- */   
        font-family: 'Maine Regular';
        font-style: normal;
        font-weight: normal;
        font-size: 2.5rem;
        line-height: 3.25rem;
    }
    
    .fonH4{
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 2rem;
        line-height: 2.5rem;
    }
    
    .fonFoot{
        font-family: 'Maine Bold';
        font-style: normal;
        font-weight: normal;
        font-size: 2rem;
        line-height: 2rem;
    }
    
    .fonH5{
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 1rem;
        line-height: 1.5rem;
    }
    
    .fonH6{
        font-family: 'Maine Light';
        font-style: normal;
        font-weight: normal;
        font-size: 1rem;
        line-height: 2rem;
     
        opacity: 0.4; }
    
    .fonPg {
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 1.25rem;
        line-height: 2rem;
    }
    
    .fonPgSt {
        font-family: 'Maine Bold Italic';
        font-style: normal;
        font-weight: normal;
        font-size: 1.25rem;
        line-height: 2rem;
    }
    
    .fonLink {
        font-family: 'Maine Medium Italic';
        font-style: normal;
        font-weight: normal;
        font-size: 1.5rem;
        line-height: 1.5rem;
    }
    
    .fonSubFoot {
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 800;
        font-size: 1rem;
        line-height: 1.5rem;
        letter-spacing: 0.2rem;
    }



    .footer{
        width: auto;
        margin-left: 5%;
        margin-right: 5%;
        height: 45rem; }



}