/* ----------- Hero ----------- */
.hero {
  width: 100%;
  display: grid;
  grid-template-columns: 40% 25% 25%;
  grid-template-rows: 1fr min-content min-content min-content;
  gap: 0px 0px;
  grid-template-areas:
    "title title title"
    "subtitle . ."
    "button . shapes"
    "reel reel reel";
  margin: 11rem 5% 3.5rem 5%;
}

.hero h1 {
  grid-area: title;
  line-height: 9rem;
}

.hero h1 .underline{
  text-decoration: underline 5px;
}
.hero h4 {
  grid-area: subtitle;
  font-size: 1.5rem;
  line-height: 1.8rem;
  margin: 3.5rem auto 3.5rem 0;
}
.btn__active {
  grid-area: button;
  width: 30%;
  padding: auto 1rem auto 1rem;
  background: none;
  border: 2px solid #FEFBF3;
  border-radius: 60px;
  transition: .3s ease all;
}
.btn__active svg{
  margin-right: 0.5rem;
}
.shapes{
  grid-area: shapes;
  margin: auto 0 auto auto;
}
.shapes .shape2, .shape3, .shape4 {
  fill: #FEFBF3;
  margin-left: 1.5rem;
}
.shapes .shape1{
  fill: #FEFBF3;
  stroke: #FEFBF3;
}
.reel{
  grid-area: reel;
  background-color: #DE5D37;
  margin-top: 3.5rem;
  padding-bottom: 45rem;
}


/* Forzar cursor */
header {
  cursor: default;
}
/* ----------- Holistic ----------- */
.holistic{
  margin: 11rem 12.5%;
}
.holistic .arrow__link{
  margin-left: 2rem;
}

.holistic__values{
  display: flex;
  flex-wrap: wrap;
  width: 60%;
  margin-top: 2rem;
}
.holistic__values p{
  font-size: 1.5rem;
  line-height: 2rem;
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  border-radius: 25px;
}
.holistic__values .usable, .value, .user, .human, .accesible, .upToDate, .likeable{
  border: 2px solid #FEFBF3;
}

/* ----------- Case studies ----------- */
.case__studies{
  margin: 0 auto 3.5rem 5%;
}
.case__studies .fonLink{
  font-size: 3rem;
}

.items {
  scrollbar-width: none;
  position: relative;
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  transition: all 0.2s;
  transform: scale(0.98);
  will-change: transform;
  user-select: none;
  padding-bottom: 10rem;
  height: min-content;
}

.items::-webkit-scrollbar {
  display: none;
  /* for Chrome, Safari, and Opera */
}

.items.active {
  cursor: pointer;
  cursor: -webkit-grabbing;
  transform: scale(1);
}

.item {
  display: inline-block;
  margin: 2em 1em;
}

.gallery__card {
  cursor: pointer;
  display: flex;
  flex-direction: column;
}

.gallery__card .img__container img {
  width: 50rem;
  cursor: url("../assets/draghandle.svg"), pointer;
}

.gallery__card h5 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.gallery__card svg {
  margin-right: 0.5rem;
  fill: #DE5D37;
}

/* ----------- Case studies ----------- */
.philosophy{
  display: grid; 
  grid-template-columns: 60% 40%; 
  grid-template-rows: min-content min-content min-content; 
  gap: 0px 0px; 
  grid-template-areas: 
    "title graph"
    "subtitle graph"
    "button graph"; 
  margin: 11rem 12.5%
}
.philosophy h2{
  grid-area: title;
}
.philosophy h2 .fonLink{
  font-size: 6.25rem
}
.philosophy h5{
  grid-area: subtitle;
  width: 60%;
}
.philosophy svg{
  grid-area: graph;
  margin: auto 0 auto auto;
}
.philosophy svg .text{
  fill: #FEFBF3;
}
.philosophy svg .work, .simple, .true, .respect{
  stroke: #FEFBF3;
}
.philosophy .btn__active{
  width: 30%;
  padding: auto 1rem auto 1rem;
}

/* ----------- The holistic method ----------- */

.holistic__container {
  margin-top: 15%;
  margin-bottom: 15%;
  display: flex;
  justify-content: space-between;
}

.lottie__container--light {
  display: none;
}

.lottie__container,
.lottie__container--light {
  margin-left: -12%;
}

.holistic__descr--container {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  row-gap: 4rem;

}

.holistic__descr--container .fonXl .fonLink {
  font-size: 6.25rem;
  line-height: 10rem;
}

.holistic__descr--p {
  width: 70%;
}

.holistic__descr--container svg {
  margin-right: 0.8rem;
}


.holistic__descr--container div .aLink {
  font-family: 'Maine Medium Italic';
  font-size: 1.5rem;
}

/* ----------- Slide in text ----------- */

.container {
  position: relative;
  width: 150%;
  overflow: hidden;
  left: -4rem;
  vertical-align: middle;
}

.scrolling-text {
  display: inline-block;
}

.scrolling-text .scrolling-text-content {
  color: #FEFBF3;
  font-size: 120px;
  white-space: nowrap;
  margin: 1rem 0;
}
.slide__star{
  fill: #FEFBF3;
}
.slide__asterisk{
  stroke: #FEFBF3;
  margin: 0 2rem;
}
.slide__venus{
  fill: #FEFBF3;
  margin-left: 2rem;
}
.slide__arrow{
  vertical-align: middle;
  fill: #FEFBF3;
}
.slide__flower{
  fill: #FEFBF3;
  margin: 0 2rem;
}

/* ----------- Messy gallery ----------- */
.messy__gallery--container {
  display: grid;
  grid-template-columns: 5% 22.5% 22.5% 22.5% 22.5% 5%;
  grid-template-rows: 1fr 1fr min-content;
  gap: 0px 0px;
  grid-template-areas:
    ". one two four five ."
    ". one three . five ."
    ".  .   .   button  . .";
  margin-top: 10%;
}

.messy__img--container {
  width: 120%;
  transition: .3s ease all;
}

.messy__img--container img {
  border-radius: 8px;
  transition: .3s ease all;
}

.messy__img--container:hover {
  transform: scale(1.1);
  z-index: 5;
}

.messy__img--container:hover>img {
  box-shadow: 0px 0px 20px 5px rgba(26, 26, 26, 0.116);
}

/* oceans */
.img1 {
  grid-area: one;
  margin: auto auto auto 4rem;
}

/* girl */
.img2 {
  grid-area: two;
  margin: auto 3rem 0 auto;
  z-index: 1;
}

/* Van Gogh */
.img3 {
  grid-area: three;
  margin: -3rem auto auto 10rem;
  z-index: 2;
}

/* pottery */
.img4 {
  grid-area: four;
  margin: auto auto -8rem 2rem;
  z-index: 3;
}

/* typographic */
.img5 {
  grid-area: five;
  margin: auto auto 4rem -10rem;
  z-index: 1;
}

.messy__gallery--link {
  grid-area: button;
  margin: 1rem 4rem auto auto;
}


/* ----------- Quote ----------- */
.index__quote {
  margin: 11rem 12.5%;
  line-height: 8rem;
}

/* ----------- 2# grab horizontal gallery ----------- */

.instagram__gallery{
  margin: 11rem 0;
}
.instagram__gallery h3{
  margin: 0 auto 1rem 12.5%;
}
.instagram__gallery a{
  font-size: 2rem;
  margin: 0 auto auto 12.5%;
}
.instagram__gallery .instagram__gallery--posts{
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  text-overflow: clip;
  overflow-x: hidden;
  margin-top: 8rem;
}
.instagram__gallery .instagram__gallery--posts img{
  margin: 0 0.5rem;
}

.instagram__gallery img {
  border-radius: 0px;
}

.items2 {
  scrollbar-width: none;
  position: relative;
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  transition: all 0.2s;
  transform: scale(0.98);
  will-change: transform;
  user-select: none;
  height: min-content;
}

.items2::-webkit-scrollbar {
  display: none;
}

/* for Chrome, Safari, and Opera */

.items2.active {
  cursor: -webkit-grabbing;
  transform: scale(1);
}

.item {
  display: inline-block;
  height: 4rem;
  margin: 0.5rem;
  object-fit: cover;
}

.gallery__card {
  height: 4rem;
}

.gallery__cardbox {
  display: flex;
  flex-direction: column;
}

/* ============================ COLOR MODE ============================ */
body.color .shape1{
  stroke: #6273D1;
  fill: #6273D1;
}
body.color .shape2{
  fill: #DE5D37;
}
body.color .shape3{
  fill: #F3A8BE;
}
body.color .shape4{
  fill: #FCB95C;
}
body.color .holistic__values .usable{
  border: 2px solid #DE5D37;
} 
body.color .holistic__values .user{
  border: 2px solid #DE5D37;
}
body.color .holistic__values .human{
  border: 2px solid #FCB95C;
}
body.color .holistic__values .accesible{
  border: 2px solid #F3A8BE;
}
body.color .holistic__values .upToDate{
  border: 2px solid #F3A8BE;
}
body.color .holistic__values .value{
  border: 2px solid #6273D1;
}
body.color .holistic__values .likeable{
  border: 2px solid #6273D1;
}

body.color .philosophy svg .work{
  stroke: #6273D1;
}
body.color .philosophy svg .simple{
  stroke: #DE5D37;
}
body.color .philosophy svg .true{
  stroke: #F3A8BE;
}
body.color .philosophy svg .respect{
  stroke: #FCB95C;
}
body.color .philosophy svg .text{
  fill: #202020;
}

body.color .scrolling-text .scrolling-text-content {
  color: #202020;
}
body.color .slide__star{
  fill: #F3A8BE;
}
body.color .slide__asterisk{
  stroke: #FCB95C;
}
body.color .slide__venus{
  fill: #6273D1;
}
body.color .slide__arrow{
  vertical-align: middle;
  fill: #202020;
}
body.color .slide__flower{
  fill: #DE5D37;
}

/* ============================ MEDIA ============================ */


/* ============================================== Mobile */
@media (max-width: 768px) {

  /* ----------- Hero ----------- */
  .hero__txt {
    display: none;
  }

  .hero__txt--mobile {
    display: block;
    width: 90%;
    font-size: 3rem;
    line-height: 3.5rem;
  }

  .hero__txt--mobile .arrow {
    vertical-align: middle;
    width: 5rem;
    margin-bottom: 1rem;
  }

  .hero {
    margin: 20% 10% 5% 2%;
  }

  .hero__social {
    margin-bottom: 18%;
  }

  .hero__socialLinks {
    display: none;
  }

  .hero__socialH5 {
    width: 100%;
    margin: 2% auto 2% auto;
    font-size: 1.4rem;
    line-height: 2.2rem;
  }

  /* ----------- Drag gallery ----------- */
  .grab__gallery {
    margin-bottom: 20%;
  }

  .gallery__card {
    width: 40%;
    margin-right: -14rem;
  }

  .gallery__card .img__container {
    width: max-content;
  }

  .gallery__card .img__container img {
    width: 70%;
  }

  .gallery__card svg {
    transform: rotate(270deg);
  }

  /* ----------- The holistic method ----------- */
  .holistic__container {
    flex-direction: column;
    margin-top: 5%;
    margin-bottom: 30%;
  }

  .holistic__descr--container {
    width: 90%;
    margin: 5% 5%;
    align-items: center;
  }

  .holistic__descr--title {
    font-size: 4.5rem;
    line-height: 6rem;
  }

  .holistic__descr--title span {
    font-family: 'Maine Medium Italic';
    font-style: normal;
    font-weight: normal;
    font-size: 4.5rem
  }

  .holistic__descr--p {
    width: 100%;
    font-size: 1.5rem;
    line-height: 2.5rem;
  }

  .holistic__descr--p span {
    font-size: 1.5rem;
    font-family: 'Maine Medium Italic';
    font-style: normal;
    font-weight: normal;
  }


  /* ----------- Messy gallery ----------- */


  .messy__gallery--container {
    display: grid;
    grid-template-columns: 5% 45% 45% 5%;
    grid-template-rows: min-content min-content min-content min-content min-content;
    gap: 0px 0px;
    grid-template-areas:
      ". one one ."
      ". two two ."
      ". three three ."
      ". four four ."
      ". five five .";
    margin-top: 10%;
  }

  .messy__img--container {
    width: 80%;
  }

  /* oceans */
  .img1 {
    grid-area: one;
    margin: auto auto -10% 30%;
    z-index: 2;
  }

  /* girl */
  .img2 {
    grid-area: two;
    margin: auto 30% -10% auto;
    z-index: 1;
  }

  /* Van Gogh */
  .img3 {
    grid-area: three;
    margin: auto auto -10% 30%;
    z-index: 2;
  }

  /* pottery */
  .img4 {
    grid-area: four;
    margin: auto 30% -10% auto;
    z-index: 3;
  }

  /* typographic */
  .img5 {
    grid-area: five;
    margin: auto auto -10% 30%;
    z-index: 1;
  }


  .messy__gallery--link {
    margin-top: 30%;
    margin-bottom: 50%;
  }


  /* ----------- A NICE philosophy ----------- */
  .philosophy__title {
    display: none;
  }

  .philosophy__title--mobile {
    display: flex;
    margin: auto auto;
    justify-content: center;
    font-size: 6rem;
    line-height: 6rem;
    margin-bottom: 15%;
  }

  .philosophy__container {
    align-items: center;
    justify-content: center;
  }

  .philosophy__container h3 {
    font-size: 2.8rem;
    text-overflow: clip;
    overflow: hidden;
    white-space: nowrap;
    transform: translateX(-5rem);
    width: 120%;
    text-align: center;
  }

  .philosophy__container img {
    margin-top: 8%;
    width: 100%;
  }

  .philosophy__card--container {
    flex-direction: column;
    align-items: center;
  }

  .philosophy__card--epygraph {
    width: 90%;
    margin: 5% 5%;
  }

  .philosophy__card--link {
    display: flex;
    justify-content: center;
    margin-right: 4rem;
  }

  .philosophy__card--link .arrow__link {
    width: 5rem;
    margin-right: 4rem;
    margin-top: -0.5rem;
  }

  .philosophy__card--link a {
    font-size: 2.5rem;
    text-align: center;
    margin-left: -3rem;
  }

  .philosophy__card--epygraph a span {
    vertical-align: middle;
    margin-right: 1.5rem;
  }

  .philosophy__epygraph {
    display: none;
  }

  .philosophy__epygraph--mobile {
    width: 85%;
    margin: 10% auto 5% auto;
    display: block;
  }

  /* ----------- Quote ----------- */
  .index__quote h2 {
    font-size: 3rem;
    line-height: 8rem;
    margin: 40% auto 30% auto;
  }

  .index__quote h4 {
    font-size: 2rem;
  }

}


/* ============================================== Tablet */

@media (min-width: 769px) and (max-width: 1024px) {

  /* ----------- Hero ----------- */
  .hero__txt {
    font-size: 4.5rem;
    line-height: 6rem;
    display: block;
  }

  .hero__txt--mobile {
    display: none;
  }

  .hero__socialLinks {
    right: 5%;
  }

  /* ----------- Drag gallery ----------- */
  .gallery__card {
    width: 100%;
    margin-right: 2rem;
  }

  /* ----------- The holistic method ----------- */
  .holistic__container {
    justify-content: space-between;
  }

  .lottie__container {
    margin-left: -30rem;
    width: 80%;
  }

  .holistic__descr--container {
    width: 60%;
  }

  /* ----------- Messy gallery ----------- */
  .messy__gallery--container {
    display: grid;
    grid-template-columns: 5% 22.5% 22.5% 22.5% 22.5% 5%;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      ". one two four five ."
      ". one three . five .";
    margin-top: 10%;
  }

  .messy__img--container {
    width: 150%;
  }

  /* oceans */
  .img1 {
    grid-area: one;
    margin: auto auto auto 20%;
    z-index: 1;
  }

  /* girl */
  .img2 {
    grid-area: two;
    margin: auto 30% -10% auto;
    z-index: 1;
  }

  /* Van Gogh */
  .img3 {
    grid-area: three;
    margin: auto auto -10% 30%;
    z-index: 2;
  }

  /* pottery */
  .img4 {
    grid-area: four;
    margin: auto 30% -10% auto;
    z-index: 3;
  }

  /* typographic */
  .img5 {
    grid-area: five;
    margin: auto auto auto -75%;
    z-index: 1;
  }

  /* ----------- A NICE philosophy ----------- */
  .philosophy__card--epygraph .philosophy__epygraph {
    display: none;
  }

  .philosophy__card--epygraph .philosophy__epygraph--mobile {
    display: block;
    width: 90%;
    margin: 0% auto 5% 2%;
    line-height: 1.5rem;
    font-size: 1.2rem;
    letter-spacing: 1px;
  }

  .philosophy__card--link .arrow__link {
    margin-right: 1rem;
  }

  .philosophy__card--container img {
    object-fit: cover;
  }

  .philosophy__container h3 {
    text-overflow: clip;
    overflow: hidden;
    white-space: nowrap;
    transform: translateX(-5rem);
    width: 120%;
    text-align: center;
    margin-bottom: 8%;
  }

  .philosophy__title--mobile {
    display: none;
  }

  .philosophy__epygraph--mobile {
    display: none;
  }

  .philosophy__title {
    display: block;
  }

  .philosophy__epygraph {
    display: block;
  }

  /* ----------- Quote ----------- */
  .index__quote {
    margin: 15% 10% 10% 10%;
  }

  .index__quote h2 {
    font-size: 3rem;
    line-height: 4rem;
    margin-bottom: 8%;
  }
}




/* ============================================== Desktop */

@media (min-width: 1024px) {

  /* ----------- Hero ----------- */
  .hero__txt {
    display: block;
  }

  .hero__txt--mobile {
    display: none;
  }

  /* ----------- Drag gallery ----------- */
  .gallery__card {
    width: 100%;
  }

  .gallery__card .img__container {
    width: 100%;
  }


  /* ----------- A NICE philosophy ----------- */
  .philosophy__title--mobile {
    display: none;
  }

  .philosophy__epygraph--mobile {
    display: none;
  }

  .philosophy__title {
    display: block;
  }

  .philosophy__epygraph {
    display: block;
    text-transform: uppercase;
  }

  .philosophy__card--link .arrow__link {
    margin-right: 1rem;
  }
}