
/* ----------- Introduction ----------- */
.process__intro{
    margin: 12rem 12.5% 5rem 12.5%; }

.process__intro h1{
    text-transform: uppercase;
    margin-bottom: 6rem; }

.process__intro h2{
    font-size: 2.25rem;
    line-height: 3.5rem;
    width: 70%; }

/*----------- Process path ----------- */

.lottie__container{
    display: flex;
    margin: 8% auto 8% auto;
    justify-content: center; }

/* ----------- Undefined section -----------*/

.undefined__container{
    height: auto;
    min-height: 33rem;
    width: auto;
    margin-left: 12.5%;
    margin-right: 12.5%; }

.undefined__container h2{
    width: 100%;
    margin-bottom: 5rem; }

/* ----------- Nice services ----------- */

.services__listbox {
    display: grid; 
    grid-template-columns: 5% 32rem 1fr 1fr 5%; 
    grid-template-rows: 1fr 1fr min-content; 
    row-gap: 2rem;

    grid-template-areas: 
        "..... nice design content ....."
        "..... nice strategy frontend ....."
        "..... link ..... ..... ....."; 
    
    margin-top: 6rem;
    background-color:#1A1A1A;
    padding-top: 8rem;
    padding-bottom: 6.5rem; }

.services__title{
    grid-area: nice;
    text-transform: uppercase;
    position: relative; }

.services__title h2{
    position: absolute;
    bottom: 0rem; }

.services__fulllistbtn{
    fill:#EEEEEE; }

.service__container{
    display: flex;
    flex-direction: column;
    justify-content: start; }

.service__container h5{
    color: #fefbf367;
}
.service__container h4{
    margin-bottom: 1.5rem;
    color: #F0B35E; }

.service__container p{
    width: 80%; }

.design{
    grid-area: design; }

.content{
    grid-area: content; }

.strategy{
    grid-area: strategy; }

.frontend{
    grid-area: frontend; }

.service__list{
    grid-area: link;
    margin-top: 5rem;
    cursor: pointer; }

.service__list svg{
    margin-right: 1rem; }

/* ----------- Listed Services ----------- */

.services__table{
    width: 100%;
    height: auto; 
    background-color:#1A1A1A;
    padding-bottom: 6rem; }

.services__tablebox{
    width: 90%;
    height: auto;
    margin-left: 5%; }

.services__tablebox tr th{
    border-top: 1px solid #3F3F3F;
    border-bottom: 1px solid #3F3F3F;
    width: 25%;
    height: 5.5rem;
    text-align: left; }

.services__tablebox tr td{
    border-bottom: 1px solid #3F3F3F;
    height: 3.5rem;
    text-align: left; }

/* ----------- Drag gallery ----------- */

.items {
    cursor: pointer;
    scrollbar-width: none;
    position: relative;
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    transition: all 0.2s;
    transform: scale(0.98);
    will-change: transform;
    user-select: none;
    height: min-content; }

.items::-webkit-scrollbar {
    display: none; }/* for Chrome, Safari, and Opera */

.items.active {
    cursor: pointer;
    cursor: -webkit-grabbing;
    transform: scale(1); }

.item {
    display: inline-block;
    padding-bottom: 5rem;
    min-height: 200px;
    min-width: 400px;
    margin: 2em 1em; }

.gallery__card{
    cursor: pointer;
    display: flex;
    flex-direction: column; }

    .gallery__card a img{
        cursor: url("../assets/draghandle.svg"), pointer;  }
        
    .gallery__card h5{
        margin-top: 1.25rem;
        margin-bottom: 0.5rem;  }

/* ============================ LIGHT MODE ============================ */
body.light .storiesTxt__title5 svg{
    stroke: #000000; }

body.light .services__listbox {
    background-color:transparent; }        

body.light .services__fulllistbtn{
    fill:#000000; }

body.light .services__table{
    background-color:transparent; }

body.light .services__tablebox tr th{
    border-top: 1px solid #DFDFDF;
    border-bottom: 1px solid #DFDFDF; }

body.light .services__tablebox tr td{
    border-bottom: 1px solid #DFDFDF; }



    /* ============================ MEDIA ============================ */
@media (max-width: 768px) {
    .process__title{
        display: none;
    }
    .process__title--mobile{
        display: block;
        margin-top: 10rem;
        font-size: 5rem;
        line-height: 6.5rem;
    }
    .process__title--mobile svg{
        width: 20%;
    }
    .process__intro{
        margin: 5% 5%;
    }
    .process__intro h2{
        width: 100%;
    }




    .undefined__container{
        width: 90%;
        margin: 30% 5% 30% 5%;
    }
    .undefined__container h2{
        font-size: 3rem;
        letter-spacing: 2px;
        line-height: 4rem;
    }


    .services__listbox{
        display: flex;
        flex-direction: column;
        row-gap: 4rem;
        padding: 5% 5%;
    }
    .services__title h2{
        position: relative;
        margin: 5% 5%;
        width: 90%;
    }
    .services__title svg{
        width: 15%;
    }
    .service__container h5{
        font-size: 1.3rem;
        margin-bottom: 0.8rem;
    }
    .service__container h4{
        font-size: 2.8rem;
    }
    .service__container p{
        font-size: 1.5rem;
        line-height: 2.3rem;
    }



}
@media (min-width: 768px) and (max-width: 1024px) {
    .process__title{
        display: block;
    }
    .process__title--mobile{
        display: none;
    }




}
@media (min-width: 1024px){





}