/*----------- the stories ----------- */

.storiesTxt{
    width: auto;
    margin-left: 12.5%; 
    margin-top: 10rem;   
    height: auto; }

.storiesTxt__box{
    width: 100%;
    height: 37rem;
    position: relative;
    overflow: hidden;}

.storiesTxt__title1{
    width: auto;
    height: auto;
    position: absolute;
    display: inline-flex;
    top: 0rem; }

    .storiesTxt__svg1{
        width: 75px;
        height: 75px;
        padding: 0.75rem 1.5rem 0rem 1.5rem;  }

.storiesTxt__title2{
    width: auto;
    height: auto;
    position: absolute;
    display: inline-flex;
    top: 6rem; 
    left: 0rem; }

    .storiesTxt__svg2{
        width: 150px;
        height: 70px;
        padding: 0.75rem 1.5rem 0rem 1.5rem;  }

        .storiesTxt__svg2 svg{
            stroke: #EEEEEE; } 
   
.storiesTxt__title3{
    width: 25rem;
    height: auto;
    position: absolute;
    top: 15rem; 
    left: 0rem; }

.storiesTxt__title4{
    width: 30rem;
    height: auto;
    position: absolute;
    top: 27rem; 
    left: 0rem; }
        
/* ----------- Drag gallery ----------- */

.items {
    cursor: pointer;
    scrollbar-width: none;
    position: relative;
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    transition: all 0.2s;
    transform: scale(0.98);
    will-change: transform;
    user-select: none;
    height: min-content; }

.items::-webkit-scrollbar {
    display: none; }/* for Chrome, Safari, and Opera */

.items.active {
    cursor: pointer;
    cursor: -webkit-grabbing;
    transform: scale(1); }

.item {
    display: inline-block;
    padding-bottom: 5rem;
    min-height: 200px;
    min-width: 400px;
    margin: 2em 1em; }

.gallery__card{
    cursor: pointer;
    display: flex;
    flex-direction: column; }

    .gallery__card a img{
        cursor: url("../assets/draghandle.svg"), pointer;  }
        
    .gallery__card h5{
        margin-top: 1.25rem;
        margin-bottom: 0.5rem;  }


/* ----------- Grid 4col Gallery ----------- */

.grid{
    height: auto;    
    width: auto;
    padding-top: 7rem;
    padding-bottom: 9rem;
    background-color: #1A1A1A; }

.grid__subtitlebox {
    height: auto;    
    width: auto;
    margin-left: 12.5%;
    margin-right: 12.5%; 
    margin-bottom: 9rem; }

.grid__box{
    height: auto;    
    width: auto;
    margin-left: 12.5%;
    margin-right: 12.5%;  }

.grid__img {
    display: grid;
    grid-template-columns: repeat(auto);
    grid-template-rows: repeat(auto);
    grid-gap: 0.75rem;
    grid-template: 
    "img1 . img2 img3"
    "img4 . img5 ."
    ". img6 . img7"
    "img8 . img9 ."
    ". . img10 ." ;
    min-height: 1200px;
    width: auto;
    justify-content: stretch;
    justify-items: stretch;
    align-items: stretch;
    align-content: stretch; }

.grid__img1{
    grid-area: img1;
}
.grid__img2{
    grid-area: img2;
}
.grid__img3{
    grid-area: img3;
}
.grid__img4{
    grid-area: img4;
}
.grid__img5{
    grid-area: img5;
}
.grid__img6{
    grid-area: img6;
}
.grid__img7{
    grid-area: img7;
}
.grid__img8{
    grid-area: img8;
}
.grid__img9{
    grid-area: img9;
}
.grid__img10{
    grid-area: img10;
}

.grid__wrap{
    width: 100%; 
    height: 100%; 
    margin:0;
    border-radius: 0.5rem;
    background: url(https://ik.imagekit.io/nicecreativestudio/IMG_5229_r2vJLphmXO.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1646083012115) no-repeat #e6e6e6; 
    background-size: 100%;
    background-position:center center;
    filter: grayscale(100%);
    -webkit-transition: all 800ms cubic-bezier(0.000, 0.000, 0.580, 1.000); 
        -moz-transition: all 800ms cubic-bezier(0.000, 0.000, 0.580, 1.000); 
        -ms-transition: all 800ms cubic-bezier(0.000, 0.000, 0.580, 1.000); 
        -o-transition: all 800ms cubic-bezier(0.000, 0.000, 0.580, 1.000); 
            transition: all 800ms cubic-bezier(0.000, 0.000, 0.580, 1.000); /* ease-out */ }
    .grid__wrap:hover{
    background-size:120%;
    filter: grayscale(0%); }


/* ----------- How we do it ----------- */

.doit{
    height: auto;    
    width: auto;
    background-color: #1A1A1A;
    text-align: center;  }

.doit__title {
    height: auto;    
    width: auto;
    margin-left: 12.5%;
    margin-right: 12.5%; 
    margin-bottom: 2.5rem; 
    display: inline-flex; }

.doit__svg1 {
    width: 65px;
    height: 65px;
    margin: 1.25rem 1.5rem 0 1.5rem;  }

.doit__svg2 {
    width: 75px;
    height: 75px;
    margin: 1rem 1.5rem 0 1.5rem;  }

.doit__subtitle {
    height: auto;    
    width: auto;
    padding-bottom: 12rem; }

/* ============================ LIGHT MODE ============================ */

body.light .storiesTxt__title5 svg{
    stroke: #000000; }

body.light .grid{
    background-color: #ED764A; }
    
body.light .doit{
    background-color: #ED764A; }

/* ============================ MEDIA ============================ */

@media (max-width: 768px) {


        }



@media (min-width: 768px) and (max-width: 1024px) {

.storiesTxt{
    margin-left: 5%; 
    margin-top: 6rem; } 

    .storiesTxt__svg1{
        width: 65px;
        height: 65px;
        padding: 0.75rem 1.25rem 0rem 1.25rem;  }

    .storiesTxt__title2{
        top: 5rem; 
      }

    .storiesTxt__svg2{
        width: 135px;
        height: 60px;
        padding: 0.75rem 1.25rem 0rem 1.25rem;  }

.grid{
    padding-top: 6rem;
    padding-bottom: 6rem; }

    .grid__subtitlebox {
        margin-left: 5%;
        margin-right: 5%; 
        margin-bottom: 6rem; }

    .grid__box{
        margin-left: 5%;
        margin-right: 5%;  }


    .grid__img {
        grid-template-columns: repeat(auto);
        grid-template-rows: repeat(auto);
        grid-template: 
        "img1 . img2"
        "img3 . img4"
        ". img5 . "
        "img6 . img7"
        "img8 img9 img10" ;
        min-height: 1200px;  }

.doit__title {
    margin-left: 3%;
    margin-right: 3%; }

    .doit__subtitle {
        padding-bottom: 6rem; }

        .doit__svg1 {
            width: 55px;
            height: 55px;
            margin: 1rem 1rem 0 1rem;  }
        
        .doit__svg2 {
            width: 65px;
            height: 65px;
            margin: 0.75rem 1rem 0 1rem;  }

}  